@import 'styles/colors.scss';

.board {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  width: 100vmin;
  height: 100vmin;
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;

  .square {
    position: relative;
    width: 12.5vmin;
    height: 12.5vmin;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.brown {
      background: $brown;
    }

    &.beige {
      background: $beige;
    }

    &.focus {
      box-shadow: inset 0px 0px 0px 3px #6b9b2b81;
    }

    .square-position {
      margin-bottom: 0.1em;
      margin-right: 0.1em;
      color: $black;
      // opacity: 0.75;
      font-size: 0.75em;
      position: absolute;
      bottom: 0;
      right: 0;
      user-select: none;
      font-weight: bold;
    }

    .available-moves-circle {
      display: none;
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #6b9b2b81;
    }
    .kill-moves-circle {
      display: none;
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: red;
    }
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}
