@import 'styles/colors.scss';

.piece {
  width: calc(12.5vmin - 1.5em);
  height: calc(12.5vmin - 1.5em);
  max-width: calc(100px - 1.5em);
  max-height: calc(100px - 1.5em);
  padding: 0.75em;
  position: absolute;

  &.white {
    .shadow {
      fill: #dfa996;
    }
    .body {
      fill: #f5d8b8;
    }
    .light {
      fill: #ffffff;
    }
    .outline {
      fill: #44220e;
    }
  }

  &.black {
    .shadow {
      fill: #55453c;
    }
    .body {
      fill: #6e645b;
    }
    .light {
      fill: #ffffff;
    }
    .outline {
      fill: #44220e;
    }
  }
}
