@import 'styles/colors.scss';

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer {
  padding-right: 1vw;
  text-align: right;
  color: white;
  font-size: 2em;
  &.focus {
    background-color: rgba(255, 255, 255, 0.123);
  }
}
